.weather-card{
    position: relative;
    margin-bottom: 15px;
    padding: 20px 30px;
    font-size: 17px;
    background: #FFF3E4;
    color: #515151;
}

.weather-card__close{
    position: absolute;
    top: 7px;
    right: 25px;
    font-size: 30px;
    font-family: monospace;
    color: #FF860E;
    cursor: pointer;
}

.weather-card__body{
    padding: 0 20px 8px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FF9A00;
}

.weather-card__city{
    font-weight: 600;
}

.weather-card__temperature{
    margin: 14px 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 45px;
    font-weight: 600;
}

.weather-card__now{
    font-weight: 100;
}

.weather-card__now b{
    font-weight: 600;
}

.weather-card__now td{
    padding: 9px 0;
}

.weather-card__now img{
    margin-right: 2px;
}

.weather-card__now__first-column{
    width: 125px;
}

.weather-card__footer{
    text-align: center;
    padding: 0 5px;
    width: 100%;
    font-weight: 900;
}

.weather-card__weekdays__temp{
    padding-top: 4px;
    display: inline-block;
    color: #FF9A00;
}

@media (max-width: 550px) {
    .weather-card{
        padding: 17px 20px;
        font-size: 15px;
    }

    .weather-card__close{
        right: 15px;
    }

    .weather-card__body{
        padding: 0 3px 8px 3px;
    }

    .weather-card__temperature{
        font-size: 35px;
    }

    .weather-card__now td{
        padding: 5px 0;
    }

    .weather-card__footer{
        padding-right: 0;
        padding-left: 0;
    }

    .weather-card__weekday{
        display: none;
    }

    .weather-card__weekday[data-order="0"],
    .weather-card__weekday[data-order="1"],
    .weather-card__weekday[data-order="2"],
    .weather-card__weekday[data-order="3"]{
        display: table-cell;
    }
}