.weather-card{
    position: relative;
    margin-bottom: 15px;
    padding: 20px 30px 17px 30px;
    font-size: 17px;
    background: #FFF3E4;
    color: #515151;
}

.weather-card__close{
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 30px;
    font-family: monospace;
    color: #FF860E;
    cursor: pointer;
}

.weather-card__body{
    padding: 0 20px 8px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FF9A00;
}

.weather-card__city{
    font-weight: 600;
}

.weather-card__temperature{
    margin: 14px 0 8px 0;
    font-size: 50px;
    font-weight: 600;
}

.weather-card__now{
    font-size: 16px;
    font-weight: 100;
}

.weather-card__now b{
    font-weight: 600;
}

.weather-card__now td{
    padding: 9px 0;
}

.weather-card__now img{
    margin-right: 2px;
    vertical-align: text-top;
}

.weather-card__now__first-column{
    width: 125px;
}

.weather-card__footer{
    text-align: center;
    padding: 0 5px;
    width: 100%;
    font-weight: 900;
}

.weather-card__weekdays__temp{
    padding-top: 4px;
    display: inline-block;
    color: #FF9A00;
}
