.header__title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
}

@media (max-width: 550px) {
    .header__title{
        padding-left: 40px;
        font-size: 35px;
        text-align: left;
    }
}
