.search-bar__form{
    position: relative;
}

.search-bar__input{
    padding: 10px 55px 10px 20px;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
}

.search-bar__input::-webkit-input-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input::-moz-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input:-moz-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input:-ms-input-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input::placeholder{ font-weight: 300; color: #919191; }

.search-bar__submit{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 13px;
    border: none;
    background: #E0E0E0;
    cursor: pointer;
    opacity: 0.7;
}

.search-bar__submit:hover,
.search-bar__submit:focus{
    opacity: 1;
}
