.search-bar__form{
    position: relative;
}

.search-bar__input{
    padding: 14px 55px 14px 25px;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: 1px solid #D86C00;
    color: #313131;
}

.search-bar__input::-webkit-input-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input::-moz-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input:-moz-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input:-ms-input-placeholder{ font-weight: 300; color: #919191; }
.search-bar__input::placeholder{ font-weight: 300; color: #919191; }

.search-bar__submit{
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 0 13px;
    border: none;
    background: #FFF;
    cursor: pointer;
    opacity: 0.7;
}

.search-bar__submit:hover,
.search-bar__submit:focus{
    opacity: 1;
}
