.capitals__column-wrapper{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.capitals__table{
    width: 100%;
}

.capitals__table th,
.capitals__table td{
    padding: 4px 0;
}

.capitals__table[data-side="right"] td,
.capitals__table[data-side="right"] th{
    text-align: right;
}

.capitals__table th{
    text-align: left;
    font-weight: 300;
}

.capitals__table td{
    font-weight: 700;
}

.capitals__colMin,
.capitals__colMax{
    width: 30px;
}
