.capitals__column-wrapper{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.capitals__table{
    width: 100%;
    color: #202020;
}

.capitals__table th,
.capitals__table td{
    padding: 9px 0;
}

.capitals__table th{
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #222;
}

.capitals-column__temperature{
    width: 35px;
}

.capitals__table td{
    font-weight: 700;
}

.capitals__colMin,
.capitals__colMax{
    width: 30px;
}

@media (max-width: 550px) {
    .capitals__column-wrapper{
        width: 100%;
    }

    .capitals__column-wrapper[data-order="2"] thead{
        display: none;
    }

    .capitals-column__temperature{
        width: 60px;
    }
}
